<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Add goal - Form</title>
    </head>
    <body>
        <header>
            <h1>Add goal - Form</h1>
        </header>
        <main>
            <form action="/api/add" method="post">
                <label for="description">Description:</label>
                <input
                    type="text"
                    id="description"
                    name="description"
                    required
                />
                <br />
                <label for="deadline">Deadline:</label>
                <input type="date" id="deadline" name="deadline" required />
                <br />
                <label for="completed">Completed:</label>
                <input
                    type="checkbox"
                    id="completed"
                    name="completed"
                    required
                />
                <br />
                <label for="priority">Priority:</label>
                <select name="priority" id="priority">
                    <option value="low">low</option>
                    <option value="medium">medium</option>
                    <option value="high">high</option>
                </select>
                <br />
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" required />
                <br />
                <button type="submit">Add Goal</button>
            </form>
        </main>
    </body>
</html>